.btn-custom {
    color: white !important;
    background-color: #11659c;
    border-radius: 10px;
    background-size: 0em;
    font-size: inherit;
    line-height: 1.2em;
    margin: 0.6em auto;
}

.btn-custom:hover {
    color: #333 !important;
    background-color: #f5c636 !important;
    transition: all 0.3s ease-in-out !important;
}

