/* override for core_explore_common_app */
.results-page div {
    overflow: hidden;
    position: relative;
    width: 100%;
}

#content {
    min-height: calc(100% - 151px);
    background-color: #fff;
    margin: 0.5em 0.5em;
    padding: 1.0em 0.5em 0.75em 0.5em;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
}

#page-wrapper {
    box-sizing: border-box;
    min-height: 100%;
    padding: 0 0 3em;
    position: relative;
    /* height: inherit; */
    /* display: inline; */
}

.textarea_lock_h {
    resize: vertical
}

.alert-danger a {
    color: #a94442;
}

/* Loading placeholder styling  */
div#results > div > ul.nav.nav-tabs {
    text-align: center;
}
span#loading-placeholder {
    color:#a94442;
    display: inline-block;
    font-style: italic;
}

/*Bootstrap overide*/
.badge {
    background-color: #505050;
    vertical-align: baseline;
}

a {
    color: #007aa7;
}

.sticky {
    position: fixed !important;
    width: 100% !important;
    top: 0 !important;
}

.sticky + #content {
    margin-top: 55px;
}

div[name="result"] {
    margin-bottom: 0.5em;
}

i.results-icon {
    margin-right: 0.5em;
}

.list-record-title {
    font-weight: bold;
    font-size: larger;
    margin-right: 0.25em;
    vertical-align: middle
}

.list-record-badge {
    margin: 3px 0.25em 3px 0px;
}


.badge-left {
    background-color: #316982 !important;
    border-radius: 10px 0px 0px 10px;
    padding: 3px 7px 3px 7px;
    color: white;
    margin-right: 0px;
}
.badge-right {
    background-color: #aaa !important;
    border-radius: 0px 10px 10px 0px;
    padding: 3px 7px 3px 7px;
    color: white;
    margin-left: 0px;
}

.yellow-badge {
    background-color: #f0ad4e !important;
}

.motivation-text {
    font-size: medium;
    line-height: 125%;
}

.list-record-experimenter {
    font-weight: bold;
}

.a-result {
    padding: 20px; 
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.2s ease-in-out;
}
.a-result:hover {
    background-color: #eee;
}

button.search_button {
    width: 100%;
    display: block;
    font-size: 1em;
    font-weight: bold;
}

/* Fixes for bootstrap bug creating line down middle of button
   on hovering: https://github.com/twbs/bootstrap/issues/4233 */
.btn-success:hover {
    background: #419641;
}
.btn-warning:hover {
    background: #eb9316;
}
.btn-default:hover {
    background: #e0e0e0;
}
.btn-danger:hover {
    background: #c12e2a;
}
.btn-info:hover {
    background: #2aabd2;
}

i#search_icon {
    margin-right: 0.5em;
}

.sidebar ul.vertical-align {
    display: flex;
    align-items: center;
    width: fit-content;
    margin: 2px auto !important;
}