/* Bootstrap overide */
.btn.btn-primary {
    background-color: #007ac1 !important;
    border-color: #565656;
}

.btn.btn-primary:hover {
    background-color: #005f96 !important;
}

.btn.btn-secondary {
    background-color: #f9f9f9 !important;
    border-color: #d4d4d4 !important;
    color: #313131 !important;
}

.btn.btn-secondary:hover {
    background-color: #e2e2e2 !important;
}

#content {
    width: calc(100% - 3em);
    min-height: calc(100% - 151px);
    background-color: #fff;
    margin: 0.5em 1.5em;
    padding: 1.0em 1.5em 2.5em 1.5em;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
}

#page-wrapper {
    box-sizing: border-box;
    min-height: 100%;
    padding: 0 0 3em;
    position: relative;
    /* height: inherit; */
    /* display: inline; */
}

.textarea_lock_h {
    resize: vertical
}

.alert-danger a {
    color: #a94442;
}

.page-item.active .page-link {
    background-color: #007ac1 !important;
    border-color: #565656;
}

.badge {
    background-color: #505050
}

a {
    color: #007aa7;
}

.sticky {
    position: fixed !important;
    width: 100% !important;
    top: 0 !important;
}

.sticky + #content {
    margin-top: 55px;
}

.modal-footer {
  justify-content: space-between !important;
}

.errorlist {
    color: red;
    margin-bottom: .1em;
}
/* End Bootstrap overide */

/* Fontawesome overide */
.fa span {
    font-family: 'Source Sans Pro', sans-serif !important;
}
/* End fontawesome overide */

div[name="result"] {
    margin-bottom: 0.5em;
}

i.results-icon {
    margin-right: 0.5em;
}

.list-record-title {
    font-weight: bold;
    font-size: larger;
    margin-right: 0.25em;
    vertical-align: middle
}

.list-record-badge {
    margin: 3px 0.25em 3px 0px;
}


.badge-left {
    background-color: #316982 !important;
    border-radius: 10px 0px 0px 10px;
    padding: 3px 7px 3px 7px;
    color: white;
    margin-right: 0px;
}
.badge-right {
    background-color: #aaa !important;
    border-radius: 0px 10px 10px 0px;
    padding: 3px 7px 3px 7px;
    color: white;
    margin-left: 0px;
}

.yellow-badge {
    background-color: #f0ad4e !important;
}

.motivation-text {
    font-size: medium;
}

.list-record-experimenter {
    font-weight: bold;
}

.a-result {
    padding: 20px; 
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.2s ease-in-out;
}
.a-result:hover {
    background-color: #eee;
}
