{% load staticfiles %}
<div class="row">
    <div class="col-md-12">
        <div class="row justify-content-center" id="intro" >
            <div class="col-md-6 col-md-offset-1 vert-center-col">
                <h2>Welcome to NexusLIMS!</h2>
                <p>
                    This laboratory information management system (LIMS) allows 
                    for the automated creation and curation of microscopy experimental
                    records using the schema co-developed by ODI and the MML 
                    Electron Microscopy Nexus Facility.
                    Experimental records are automatically harvested from multiple
                    data sources to facilitate browsing and searching of data
                    collected from the varied instruments in the Nexus Facility.
                </p>
                <p> 
                    To learn more about how NexusLIMS operates and is developed,
                    please visit the 
                    <a href="{{ DOCUMENTATION_LINK }}" target="_blank">documentation page</a>,
                    or to get started, please click the link below to start
                    browsing experimental records:
                </p>
            </div>
            <div class="col-md-3 vert-center-col hidden-xs hidden-sm">
                <img class="img-responsive center-block"
                     id="nexuslims-logo" 
                     src="{% static 'core_main_app/img/logo_horizontal_text.png' %}"
                     alt="NexusLIMS Logo">
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-md-offset-1 col-md-5 col-md-offset-1" id="tiles">
    </div>
    <!-- <div class="col-md-5" id="templates">
    </div> -->
</div>
